.App {
  text-align: center;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movieComp {
  margin: 20px;
  /* border: 2px solid black; */
  height: 700px;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}

.movieName {
  display: flex;
  justify-content: space-between;
}

.moviePoster {
  height: 300px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.movieSummary {
  font-size: 12px;
}

.iconButton {
  color: gold;
}
